{% extends 'admin/base.html' %}
{% load static %}

{% block content %}


<div class="content">
    <div class="container-fluid">

        <!-- Titre de page -->
        <div class="row">
            <div class="col-12">
                <div class="page-title-box d-flex justify-content-between align-items-center">
                    <h4 class="page-title">Liste des admin</h4>

                </div>
            </div>
        </div>

        <!-- Tableau des bus -->
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="header-title mb-3">Liste des admin</h4>
                        <div class="table-responsive">
                            <table class="table table-hover table-centered table-nowrap mb-0">
                                <thead class="table-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Nom</th>
                                        <th>Email</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for admin in admins %}
                                    <tr>
                                        <td>{{ admin.0 }}</td>
                                        <td>{{ admin.1 }}</td>
                                        <td>{{ admin.2 }}</td>
                                        <td>
                                            <a href="{% url 'delete_admin' admin.0 %}"
                                                onclick="return confirm('Supprimer ?')">🗑 Supprimer</a>
                                        </td>
                                    </tr>
                                    {% empty %}
                                    <tr>
                                        <td colspan="5" class="text-center">Aucun admin enregistré.</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div> <!-- end .table-responsive -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}