<div class="navbar-custom">
    <div class="topbar">
        <div class="topbar-menu d-flex align-items-center gap-1">

            <!-- Topbar Brand Logo -->
            <div class="logo-box">

            </div>

            <!-- Sidebar Menu Toggle Button -->
            <button class="button-toggle-menu">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>

        <ul class="topbar-menu d-flex align-items-center ms-auto me-3">
            {% if request.session.user_name %}
            <div class="topbar-user">
                Bonjour <strong>{{ request.session.user_name }}</strong> |
                <a href="{% url 'logout' %}">Déconnexion</a>
            </div>
            {% endif %}

        </ul>
    </div>
</div>