<div class="navbar-custom">
    <div class="topbar">
        <div class="topbar-menu d-flex align-items-center gap-1">

            <!-- Topbar Brand Logo -->
            <div class="logo-box">

            </div>

            <!-- Sidebar Menu Toggle Button -->
            <button class="button-toggle-menu">
                <i class="mdi mdi-menu"></i>
            </button>
        </div>

        <ul class="topbar-menu d-flex align-items-center ms-auto me-3">
            {% if request.session.user_name %}
            <li class="nav-item me-3">
                <span class="text-black">
                    👤 Bonjour, <strong>{{ request.session.user_name }}</strong>
                </span>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="btn btn-danger btn-sm">Déconnexion</a>
            </li>
            {% endif %}
        </ul>
    </div>
</div>
