<div class="app-menu">

    <!-- Brand Logo -->
    <div class="logo-box">
        <!-- Brand Logo Light -->
        <a href="index.html" class="logo-light">
            <img src="images/logo-light.png" alt="logo" class="logo-lg">
            <img src="images/logo-sm.png" alt="small logo" class="logo-sm">
        </a>

        <!-- Brand Logo Dark -->
        <a href="index.html" class="logo-dark">
            <img src="images/logo-dark.png" alt="dark logo" class="logo-lg">
            <img src="images/logo-sm.png" alt="small logo" class="logo-sm">
        </a>
    </div>

    <!-- menu-left -->
    <div class="scrollbar">

        <!-- User box -->
        <div class="user-box text-center">
            <img src="images/users/user-1.jpg" alt="user-img" title="Mat Helme"
                class="rounded-circle avatar-md">
            
            <p class="text-muted mb-0">Admin Head</p>
        </div>

        <!--- Menu -->
        <ul class="menu">

            <li class="menu-title">Navigation</li>



            <li class="menu-item">
                <a href="/" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-calendar"></i></span>
                    <span class="menu-text"> Dashboard</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="/voyages_client" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-calendar"></i></span>
                    <span class="menu-text"> Faire une reservations</span>
                </a>
            </li>

            <li class="menu-item">
                <a href="/mes-tickets" class="menu-link">
                    <span class="menu-icon"><i class="mdi mdi-forum-outline"></i></span>
                    <span class="menu-text"> mes billets</span>
                </a>
            </li>

        
        <!--- End Menu -->
        <div class="clearfix"></div>
    </div>
</div>